.btn {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;

    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin-top: 6rem;
    margin-left: 1.25rem;
}

.popover {
    position: absolute;
    max-width: 276px; 
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: .875rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.popover_hidden {
    display: none;
}

.popover-header {
    padding: .5rem .75rem;
    margin: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.popover-body {
    padding: .5rem .75rem;
    color: #212529;
}
